.spin-right {
  -webkit-animation: spinRight 1.5s ease infinite; /* Safari */
  animation: spinRight 1.5s ease infinite;
}

/* Safari */
@-webkit-keyframes spinRight {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinRight {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spin-left {
  -webkit-animation: spinLeft 1.5s ease infinite; /* Safari */
  animation: spinLeft 1.5s ease infinite;
}

/* Safari */
@-webkit-keyframes spinLeft {
  0% { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes spinLeft {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}