#footer-bottom li a {
    position: relative;
}
#footer-bottom li,
#footer-bottom li a {
    color: #777;
}

footer a:hover span:before,
#footer-bottom li:hover a:before {
	width: 100%;
}
footer h5 {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer span:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 2px;
    width: 0;
    background: #f3f3f3;
    backface-visibility: hidden;
    transition: all .25s cubic-bezier(.4,.01,.1,1);
}
#footer-bottom a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    backface-visibility: hidden;
    background: #cc092f;
    transition: all .25s cubic-bezier(.4,.01,.1,1);
}
footer button.btn {
	background-color: transparent;
}
footer input.form-control:focus,
footer button.btn:focus {
	box-shadow: none;
}
footer button.btn:hover {
	background-color: transparent;
	color: #cc092f !important;
}
footer .position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center {
	border-bottom: 1px solid #dcdcdc;
}
.footer-red-bar {
    width: 30px;
    background-color: #cc092f;
    height: 2px;
    display: block;
    /*margin: 2.5rem 0;*/
}