footer a:hover span:before {
    width: 100%;
}
footer h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer span:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;

    width: 0;
    height: 2px;

    background: #f3f3f3;
    backface-visibility: hidden;
    transition: all .25s cubic-bezier(.4,.01,.1,1);
}




.slide-bar {
    position: relative;
}
.slide-bar {
    color: #777;
}
.slide-bar:hover:before {
	width: 100%;
}
.slide-bar:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 0;
    height: 2px;

    backface-visibility: hidden;
    background: #cc092f;
    transition: all .25s cubic-bezier(.4,.01,.1,1);
}








footer button.btn {
	background-color: transparent;
}
footer input.form-control:focus,
footer button.btn:focus {
	box-shadow: none;
}
footer button.btn:hover {
	background-color: transparent;
	color: #cc092f !important;
}
footer .position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center {
	border-bottom: 1px solid #dcdcdc;
}
.footer-red-bar {
    width: 30px;
    background-color: #cc092f;
    height: 2px;
    display: block;
}
footer .fa,
footer li {
    color: #777;
}
footer .fa:hover {
    color: #191919;
}
footer form .input-group {
    border-bottom: 2px solid #cc092f
}


.free-rides {
    position: relative;
    overflow: hidden;
}
.free-rides a,
.free-rides a div {
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;
}
.free-rides a div {
    transition: all .25s cubic-bezier(.4,.01,.1,1);
}
.free-rides a div:last-child {
    transform: translateY(100%);
}
.free-rides:hover a div:first-child {
    transform: translateY(-100%);
}
.free-rides:hover a div:last-child {
    transform: translateY(0);
}
