body {
	font-family: akzidenz-grotesk,akzidenz-grotesk,helvetica,sans-serif;
	color: #191919 !important;
	padding-top: 3rem;
}
@media(min-width: 992px) {
	body {
		padding-top: 6.9rem;
	}
}
@media (min-width: 576px) {
	body {
		padding-top: 4.1rem;
	}
}
@media (min-width: 992px) {
	body {
		padding-top: 6.96rem;
	}
}

/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
	.display-1 {
		font-size: 8vmin;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
/* =====================================
	Global custom
===================================== */
html {
  /*overflow-y: scroll;*/
  height: 200%;
}
main,
footer,
footer input {
	background-color: #efefef !important;
}
a:hover {
	text-decoration: none;
	color: inherit;
}
.text-grey {
	color: #777;
}
.font-size-07 {
	font-size: 0.7rem;
}
.font-size-08 {
	font-size: 0.8rem;
}
.font-size-7 {
  font-size: 7rem;
}
.font-size-3 {
  font-size: 3rem;
}
.letter-spacing-negative-01 {
	letter-spacing: -.01rem;
}
.letter-spacing-03 {
	letter-spacing: .03rem;
}
.letter-spacing-04 {
	letter-spacing: .04rem;
}
.letter-spacing-08 {
	letter-spacing: .08rem;
}
.letter-spacing-1 {
	letter-spacing: .1rem;
}
.letter-spacing-2 {
	letter-spacing: .2rem;
}
.letter-spacing-3 {
	letter-spacing: .3rem;
}
.line-height-1 {
	line-height: 1;
}
.line-height-16 {
	line-height: 1.6;
}
.line-height-2 {
	line-height: 2;
}
.line-height-09 {
	line-height: .9;
}
.tagline {
    font-family: akzidenz-grotesk-condensed,akzidenz-grotesk,helvetica,sans-serif;
}
.bg-grey {
	background-color: #2c2c2c;
}
.bg-opaque {
	background-color: rgba(0, 0, 0, 0.6);
}




.btn-hover {
	border-width: 2px;
}
.btn-hover span {
    -moz-transition: all .25s cubic-bezier(.4,.01,.1,1);
    -webkit-transition: all .25s cubic-bezier(.4,.01,.1,1);
    transition: all .25s cubic-bezier(.4,.01,.1,1);
}
.btn-hover:hover span {
	background-color: #191919;
	width: 30px;
	height: 2px;
	margin-left: 1rem;
	display: inline-block;
	vertical-align: middle;
}

.mt-n-47 {
	margin-top: -47px;
}
.mt-n-80 {
	margin-top: -80px;
}
.mt-n-47,
.mt-n-80,
.mt-0 {
    -moz-transition: all .25s cubic-bezier(.4,.01,.1,1);
    -webkit-transition: all .25s cubic-bezier(.4,.01,.1,1);
    transition: all .25s cubic-bezier(.4,.01,.1,1);
}
/* ===================================
	Bootstrap override
=================================== */
.text-muted {
	color: #777 !important;
}
.bg-dark {
	background-color: #191919 !important;
}
.bg-secondary {
	background-color: #efefef !important;
}
.btn-dark {
	background: #262626;
}
.btn-dark:hover {
	background-color: #333;
}
.text-danger {
	color: #cc092f !important;
}
