/* =====================================
	Global custom
===================================== */
html {
  /*overflow-y: scroll;*/
  height: 200%;
}
a {
	/*text-decoration: none;*/
}
a:hover {
	text-decoration: none;
	color: inherit;
}
/*.font-size-06 {
	font-size: 0.6rem;
}*/
.font-size-07 {
	font-size: 0.7rem;
}
.font-size-08 {
	font-size: 0.8rem;
}
.letter-spacing-03 {
	letter-spacing: .03rem;
}
.letter-spacing-04 {
	letter-spacing: .04rem;
}
.letter-spacing-08 {
	letter-spacing: .08rem;
}
.letter-spacing-2 {
	letter-spacing: 2px;
}


/*a:hover > .mb-2 {
	margin-bottom: 1rem !important;
}*/
.bg-grey {
	background-color: #2c2c2c;
}
.bg-opaque {
	background-color: rgba(0, 0, 0, 0.6);
}
/* ===================================
	Bootstrap override
=================================== */
.bg-dark {
	background-color: #191919 !important;
}
.btn-dark {
	background: #262626;
}
.btn-dark:hover {
	background-color: #333;
}
.text-danger {
	color: #cc092f !important;
}
